* {
	box-sizing: border-box;
	margin: 0;
}

:root {
	--desaturated-red: hsl(0, 36%, 70%);
	--soft-red: hsl(0, 93%, 68%);
	--dark-grayish-red: hsl(0, 6%, 24%);
}

body {
	background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
	width: 100vw;
	height: 100vh;
	display: grid;
	align-items: center;
	justify-content: center;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container{
	display: grid;
	margin-bottom: 40px;
	grid-template-areas: 
		"header"
		"hero"
		"main";
}

.header {
	grid-area: header;
	margin: 40px 0 40px 40px;
}

.hero-container {
	width: 100%;
	height: 60vh;
	grid-area: hero;
	background: url(../../images/hero-mobile.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.content h1 {
	margin: 60px 50px 30px;
	text-align: center;
	font-size: 3.5rem;
	text-transform: uppercase;
	letter-spacing: 20px;
	color: var(--dark-grayish-red)
}

.content h1 span, .content p, .error-msg p {
	color: var(--desaturated-red);
}

.content h1 span {
	font-weight: 300;
}

.content p {
	margin: 0 30px;
	line-height: 1.7;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	margin-top: 30px;
	margin-bottom: 40px;
	grid-area: main;
}

input[type="email"] {
	width: 75%;
	background: hsl(0, 100%, 98%);
	border: 1px solid #413a3a29;
	padding: 17px;
	border-radius: 25px;
	position: relative;
	font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
}


input[type="email"]::placeholder {
	color: #ce9797b0;
}


input[type="email"]:focus {
	border: 2px solid var(--soft-red);
	outline: none;
	background-color: transparent;
}

#submit {
	background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
	align-self: center;
	padding: 16px 35px;
	border-radius: 25px;
	position: absolute;
	margin-left: 70%;
	outline: none;
	border: 1px solid transparent;
}

#submit:hover {
	background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 92%, 90%));

}

.error-msg {
	width: 90%;
	margin-top: 15px;
	display: none;
}

.error-msg p {
	text-align: start;
	align-self: flex-start;
}

.exist {
	display: block;
}

.attribution {
	margin-top: 20px;
}

@media screen and (min-width: 950px) {

	.container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		grid-template-areas: 
		"header hero"
		"main hero";
		background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
		width: 100vw;
		min-height: 100vh;	
	}

	.header {
		grid-area: header;
	}

	.header img {
		margin-top: 30px;
		margin-left: 15%;
	}

	.content {
		grid-area: main;
		padding: 10% 20%;
	}

	.content h1, .content p {
		margin: 30px 0;
		text-align: start;
	}

	.hero-container {
		grid-area: hero;
		width: 100%;
		height: auto;
		background: url(../../images/hero-desktop.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	form{
	width: 400px;
	align-items: initial;
	}

	input[type="email"] {
		width: 300px;
	}

	#submit {
		margin-left: 200px;
		padding: 16px 45px;
	}

	.error-msg p {
		margin: 0;
	}

	footer {
		grid-area: footer footer;
	}
}

@media screen and (min-width: 1400px) {
	form {
		width: 600px;
		align-items: initial;
	}

	input[type="email"] {
		width: 450px;
	}

	form a {
		margin-left: 280px;
	}
}